<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated foodapp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.rm2pt.sample.foodapp.metamodel.foodapp.presentation.FoodappModelWizardID"
            name="%_UI_FoodappModelWizard_label"
            class="org.rm2pt.sample.foodapp.metamodel.foodapp.presentation.FoodappModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FoodappModelFile.gif">
         <description>%_UI_FoodappModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated foodapp -->
      <editor
            id="org.rm2pt.sample.foodapp.metamodel.foodapp.presentation.FoodappEditorID"
            name="%_UI_FoodappEditor_label"
            icon="icons/full/obj16/FoodappModelFile.gif"
            extensions="foodapp"
            class="org.rm2pt.sample.foodapp.metamodel.foodapp.presentation.FoodappEditor"
            contributorClass="org.rm2pt.sample.foodapp.metamodel.foodapp.presentation.FoodappActionBarContributor">
      </editor>
   </extension>

</plugin>
