<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated foodapp -->
      <package
            uri="http://www.rm2pt.com/foodapp"
            class="org.rm2pt.sample.foodapp.metamodel.foodapp.FoodappPackage"
            genModel="model/foodapp.genmodel"/>
   </extension>

</plugin>
